:global(.ui.basic.label).toolbarBtn {
  border: none
}

.btnSave, .btnCancel, .btnChangeImage {
  margin: 0 auto !important;
}

.btnChangeImage{
  margin-top: 10px !important;
}

.labelEditPost {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  font-size: 14px !important;
}
